@using JobPortalWebsite.Models
@model StudentVM

@{
    ViewBag.Title = "ExperienceView";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/bootstrap-grid.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/JobPortal/csshunt/icons.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/JobPortal/csshunt/animate.min.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/style.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/responsive.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/chosen.css") />


    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/JobPortal/csshunt/colors/colors.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/bootstrap.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/main.css") />

    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Content/JobPortal/jshunt/jquery.min.js")></script>
    <script language="JavaScript" type="text/javascript" src=@Url.Content("/Scripts/studentProfile.js")></script>

</head>

<body>
    <div class="container fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header">
                    <h3>Welcome Hazala 163870</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div id="ExpirenceSection">

            <div class="border-title"><h3>Work Experience</h3><a href="#" id="addnewExpirenceButton" title=""><i class="la la-plus"></i> Add Experience</a></div>

            <div id="addnewExpirenceDiv" class="row container border-title" style="display:none">

                <div class="col-lg-6">
                    <span class="pf-title">Designation</span>
                    <div class="pf-field">
                        <input type="text" id="Designation" name="designation" placeholder="Enter Your designation.........">
                    </div>
                </div>
                <form class="col-lg-6">
                    <span class="pf-title">Organization Name</span>
                    <select id="OrganizationSelect" class="form-control select2">
                        @foreach (Organization name in Model.organizationNames)
                        {
                            <option value="@name.OrganizationID">@(name.OrganizationName)</option>
                        }
                        <option value="0">Add a New Organization</option>

                    </select>


                </form>

                <div class="col-lg-6">
                    <span class="pf-title">StartDate</span>
                    <div class="pf-field">
                        <input type="date" id="StartDate" name="StartDate" placeholder="StartDate">
                    </div>
                </div>
                <div class="col-lg-6">
                    <span class="pf-title">End Date</span>
                    <div class="pf-field">
                        <input type="date" id="EndDate" name="EndDate" placeholder="EndDate">
                    </div>
                </div>
                <div class="col-lg-6">
                    <span class="pf-title">Description</span>
                    <div class="pf-field" style="width:100%">
                        <input type="text" id="description" name="description" placeholder="Tell us about Your role there.">
                    </div>
                </div>
                <div class="col-lg-6" id="OrganizationNameDiv" style="display:none">
                    <span class="pf-title">Add Organization</span>
                    <div class="pf-field" style="width:100%">
                        <input type="text" id="OrganizationName" name="OrganizationName" placeholder="Enter Organization Name.">
                    </div>
                </div>

                <div class="col-lg-12">
                    <input id="ExperienceSubmitButton" type="submit" />
                </div>
            </div>

            <div class="edu-history-sec">

                @foreach (var item in Model.experiences)
                {
                    <div class="edu-history style2">
                        <i></i>
                        <div class="edu-hisinfo" id="@(item.ExpID)">
                            <h3>@(item.Designation)</h3>
                            <i>@(item.StartDate)  -- @(item.EndDate)</i>
                            <p>@(item.JDescription)</p>
                        </div>
                        <ul class="action_job">
                            <!--li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>-->
                            @Html.ActionLink("Delete", "DeleteExp", new { id = item.ExpID }, new { @class = "la la-trash-o" })

                        </ul>
                    </div>
                }
            </div>

        </div>

        <div id="ProjectSection">
            <div class="border-title">
                <h3>Projects</h3><a href="#" title="" id="addnewProjectButton"><i class="la la-plus"></i> Add Project</a>
            </div>

            <!--This Section is hidden div which is used to add a new Project-->
            <div id="addnewProjectDiv" class="row container border-title" style="display:none">

                <div class="col-lg-6">
                    <span class="pf-title">Project Name</span>
                    <div class="pf-field">
                        <input type="text" id="ProjectName" name="ProjectName" placeholder="Enter Project Name.........">
                    </div>
                </div>
                <div class="col-lg-6">
                    <span class="pf-title">GithubLink</span>
                    <div class="pf-field">
                        <input type="text" id="GithubLink" name="link" placeholder="Enter GithubLink.........">
                    </div>
                </div>

                <div class="col-lg-6">
                    <span class="pf-title">Enter Skill</span>
                    <div class="pf-field">
                        <input type="text" id="SkillName" name="SkillName" placeholder="Enter Skills you Gained">
                    </div>
                </div>
                <div class="col-lg-6">
                    <span class="pf-title">Course Offered ID</span>
                    <div class="pf-field">
                        <input type="text" id="CID" name="CID" placeholder="Enter Course ID (If Freelance Project Type 0)">
                    </div>
                </div>


                <form class="col-lg-6">
                    <span class="pf-title">Framework Name</span>
                    <select id="FrameworkSelect" class="form-control select2">
                        @foreach (Framework framework in Model.frameworkNames)
                        {
                            <option value="@(framework.FID)">@(framework.FName)</option>
                        }
                        <option value="0">Add a New Framework</option>

                    </select>

                </form>
                <div class="col-lg-6" id="FrameworkNameDiv" style="display:none">
                    <span class="pf-title">Add new Framework</span>
                    <div class="pf-field" style="width:100%">
                        <input type="text" id="FrameworkName" name="FrameworkName" placeholder="Enter The Framework you worked on.">
                    </div>
                </div>



                <form class="col-lg-6">
                    <span class="pf-title">Domain Name</span>
                    <select id="DomainSelect" class="form-control select2">
                        @foreach (Domain item in Model.domains)
                        {
                            <option value="@(item.DomainID)">@(item.DomainName)</option>
                        }
                        <option value="0">Add New Domain</option>

                    </select>
                </form>
                <div class="col-lg-6" id="DomainNameDiv" style="display:none">
                    <span class="pf-title">Add new Domian</span>
                    <div class="pf-field" style="width:100%">
                        <input type="text" id="DomianName" name="DomianName" placeholder="Enter The Domain of your Project.">
                    </div>
                </div>





                <div class="col-lg-12">
                    <input id="submitButton" type="submit" />
                </div>
            </div>

            <!--This Section is CandidateProjects -->
            <div class="edu-history-sec">

                @foreach (var item in Model.projects)
                {
                    <div class="edu-history style2">
                        <i></i>
                        <div class="edu-hisinfo" id="@item.ProjectID">
                            <h3>@(item.ProjectName)</h3>
                            <i>Github:-<a>@(item.GithubLink)</a></i>
                            <p>@item.Fname</p>
                        </div>
                        <ul class="action_job">
                            <li>
                                <!--<a href="#" title=""><i class="la la-trash-o"></i></a>-->

                                @Html.ActionLink("Delete", "DeleteProject", new { id = item.ProjectID }, new { @class = "la la-trash-o" })
                            </li>

                        </ul>
                    </div>
                }

            </div>

        </div>

        <div id="SkillSection">
            <div class="border-title"><h3>Personal Skill</h3><a href="#" title=""><i class="la la-plus"></i> Add Skill</a></div>
            <div class="edu-history-sec">
                @foreach (var item in Model.skills)
                {
                    <div class="edu-history style2">
                        <i></i>
                        <div class="edu-hisinfo">
                            <h3>@(item.SkillName)</h3>
                            <p>@(item.DomainName)</p>
                        </div>
                        <ul class="action_job">
                            <!--<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>-->
                            <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                        </ul>
                    </div>

                }
            </div>
        </div>

    </div>

    <!--<div class="border-title"><h3>Educational Background</h3><a href="#" title=""><i class="la la-plus"></i> Add Education</a></div>
    <div class="edu-history-sec">

        <div class="edu-history">
            <i class="la la-graduation-cap"></i>
            <div class="edu-hisinfo">
                <h3>University</h3>
                <i>2008 - 2012</i>
                <span>Middle East Technical University <i>Computer Science</i></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <ul class="action_job">
                <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
            </ul>
        </div>
        <div class="edu-history">
            <i class="la la-graduation-cap"></i>
            <div class="edu-hisinfo">
                <h3>High School</h3>
                <i>2008 - 2012</i>
                <span>Tomms College <i>Bachlors in Fine Arts</i></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <ul class="action_job">
                <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
            </ul>
        </div>
        </div>-->

    <script>
            $(document).ready(function () {

                $("#submitButton").click(function (event) {
                    var FrameworkID = $("#FrameworkSelect").children("option:selected").val();
                    debugger
                    var FrameworkName = "";
                    if (FrameworkID == 0) {
                        FrameworkName = $("#FrameworkName").val()
                    } else {
                        FrameworkName = $("#FrameworkSelect").children("option:selected").html()
                    }

                    var DomainID = $("#DomainSelect").children("option:selected").val();
                    var DomainName = "";
                    if (DomainID == 0) {
                        DomainName = $("#DomainName").val()
                    } else {
                        DomainName = $("#DomainSelect").children("option:selected").html()
                    }
                    $.ajax
                        ({
                            type: 'POST',
                            url: 'https://localhost:44380/api/studentProfile/AddProject',
                            data: {

                                StudentID: 3870,
                                ProjectName: $("#ProjectName").val(),
                                GithubLink: $("#GithubLink").val(),
                                courseOfferedID: $("#CID").val(),
                                ApproveStatus: 'Completed',
                                FrameworkID: FrameworkID,
                                FName: FrameworkName,
                                DomainID: DomainID,
                                DomainName: DomainName,
                                Skillvalue: $("#SkillName").val()
                            },
                            crossDomain: true,
                            success: function (response) {
                                alert("you are done");
                                location.reload(true);

                            },
                            error: function (error) {
                                alert("Error");
                                location.reload(true);
                            }
                        }).done(function () {
                            alert("DOne");
                        });
                    //event.preventDefault();
                });
            });
    </script>
    <script>

            // This Is post request for Inserting new Experience record in table
            $(document).ready(function () {
                $("#ExperienceSubmitButton").click(function (event) {
                    var OrganizationID = $("#OrganizationSelect").children("option:selected").val();
                    var Name = "";
                    if (OrganizationID == 0) {
                        Name = $("#FrameworkName").val()
                    } else {
                        Name = $("#Organization").children("option:selected").html()
                    }
                    $.ajax
                        ({
                            type: 'POST',
                            url: 'https://localhost:44380/api/studentProfile/AddExperience',
                            data: {
                                startDate: $("#StartDate").val(),
                                endDate: $("#EndDate").val(),
                                designation: $("#Designation").val(),
                                JDescription: $("#description").val(),
                                StudentID: 163870,
                                OrganizationID: OrganizationID,
                                OrganizationName: Name

                            },
                            crossDomain: true,
                            success: function (response) {
                                alert("you are done");
                                location.reload(true);

                            },
                            error: function (xhr, status, error) {
                                //alert(xhr.responseText);
                                location.reload(true);


                            }
                        }).done(function () {
                            alert("DOne");
                        });
                    //event.preventDefault();
                });
            });


    </script>
    <script>
            $(document).ready(function () {
                $("#testDelete").click(function (event) {
                    alert("HELEE")
                });
            });
    </script>
</body>
