@model IptProject.Models.Faculty_Recruitment.Login

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/FacultyRecruitment/Contents/index/assets/bootstrap/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light  clean-navbar">
            <div class="container">
                @if (!Request.Url.AbsoluteUri.Contains("nucesjob/index"))
                {
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item"><a class="nav-link  hoverr" onclick="history.go(-1)">GO BACK</a></li>
                        <li class="nav-item" style="background-color:transparent"><a class="nav-link"></a></li>
                    </ul>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item"><a class="nav-link  hoverr" href="http://13.229.231.75:8081/">ERP HOME</a></li>
                        <li class="nav-item" style="background-color:transparent"><a class="nav-link"></a></li>
                    </ul>
                }
                <a class="navbar-brand logo" href="#" style="font-family:Amaranth, sans-serif;">FACULTY RECRUITMENT SYSTEM</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        @if (Request.Url.AbsoluteUri.Contains("nucesjob/index"))
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="@Url.Action("Index","nucesjob")">Home</a></li>
                        }
                        else
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link hoverr" href="@Url.Action("Index","nucesjob")">Home</a></li>
                        }

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link hoverr" href="#" onclick="openForm()">LOGIN</a></li>
                        }
                        @if (User.IsInRole("HumanResource"))
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="@Url.Action("AddJobOpening","nucesjob")">ADD JOB</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="@Url.Action("JobOpeningDetails","nucesjob")">ACTIVE VACANCIES</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="@Url.Action("JobOpeningDetails","nucesjob")">CANDIDATE APPLICATIONS</a></li>
                        }
                        @if (User.IsInRole("candidate"))
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="@Url.Action("GetAllJobOpenings","nucesjob")">VIEW JOBS</a></li>
                        }

                        @*@if (Request.Url.AbsoluteUri.Contains("Mainpage/campuses"))
        {
            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="~/Mainpage/campuses">CAMPUSES</a></li>
        }
        else
        {
            <li class="nav-item" role="presentation"><a class="nav-link hoverr" href="~/Mainpage/campuses">CAMPUSES</a></li>
        }
        @if (Request.Url.AbsoluteUri.Contains("Mainpage/programs"))
        {
            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="~/Mainpage/programs">PROGRAMS</a></li>
        }
        else
        {
            <li class="nav-item" role="presentation"><a class="nav-link hoverr" href="~/Mainpage/programs">PROGRAMS</a></li>
        }
        @if (Request.Url.AbsoluteUri.Contains("Mainpage/contactus"))
        {
            <li class="nav-item" role="presentation"><a class="nav-link test hoverr" href="~/Mainpage/contactus">COTACT US</a></li>
        }
        else
        {
            <li class="nav-item" role="presentation"><a class="nav-link hoverr" href="~/Mainpage/contactus">COTACT US</a></li>
        }*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" role="presentation"><a class="nav-link hoverr" href='@Url.Action("Signout","NucesJobAccount")'>LOGOUT</a></li>
                        }
                    </ul>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             </div>
            </nav>
        <div class="form-popup bg-transparent" id="myForm">

            @if (!User.Identity.IsAuthenticated)
            {
                @Html.Partial("~/Views/Shared/_FacultyRecruitmentLogin.cshtml")
            }
        </div>
        <div class="box">
            <div id="body">
                @RenderBody()
            </div>
        </div>
       </div>
    <script src="~/Content/FacultyRecruitment/Contents/index/assets/js/jquery.min.js"></script>
    <script src="~/Content/FacultyRecruitment/Contents/index/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/FacultyRecruitment/Contents/index/assets/js/theme.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("body").style.opacity = 0.1;
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
            document.getElementById("body").style.opacity = 1;
        }
    </script>

</body>
</html>
<style>
    .test {
        background-color: rgba(9, 162, 255, 0.85);
        border-radius: 20px;
    }

    .hoverr:hover {
        background-color: rgba(9, 162, 255, 0.85);
        border-radius: 20px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        position: fixed;
        display: none;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 3px;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: transparent;
        opacity: 1;
    }

    .forinput {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: rgba(9, 162, 255, 0.85);
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
</style>

