@model IptProject.Models.FYP.GlobalFyp2Mid

@{
    ViewBag.Title = "ViewFYP2MidEvaluation";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}

<h2>ViewFYP2MidEvaluation</h2>

@foreach (var item in Model.IndexModels)
{
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">MID-I Evaluation Form</h4>
                            <p class="card-category">Please fill the complete form</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="md-form form-group">
                                            <label for="inputProjectTitle">PROJECT TITLE</label>
                                            @*<input type="text" class="form-control" disabled value=@(modelItem => item.ProjectName) />*@
                                            @Html.TextBox(item.ProjectName, item.ProjectName, new { disabled = "disabled", @class = "form-control" })
                                            @*@Html.DisplayFor(modelItem => item.ProjectName)*@
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="md-form form-group">
                                            <label for="Member1ID">STUDENT 1 ID</label>
                                            @Html.TextBoxFor(modelItem => item.LeaderID, new { disabled = "disabled", @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="md-form form-group">
                                            <label for="inputLeaderID">STUDENT 2 ID</label>
                                            @Html.TextBoxFor(modelItem => item.Member1ID, new { disabled = "disabled", @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="md-form form-group">
                                            <label for="inputLeaderID">STUDENT 3 ID</label>
                                            @Html.TextBoxFor(modelItem => item.Member2ID, new { disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="md-form form-group">
                                            <label for="inputSupervisor">SUPERVISOR ID</label>
                                            @Html.TextBoxFor(modelItem => item.SuperVisorEmpID, new { disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="md-form form-group">
                                            <label for="inputCoSupervisor">CO-SUPERVISOR ID</label>
                                            @Html.TextBoxFor(modelItem => item.CoSupervisorID, new { disabled = "disabled", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <p>Please grade their progress on the below scale. The evaluation will count towards 10 marks from total.</p>
                            <br />
                            @using (Html.BeginForm())
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Project Progress</h5>
                                        <div class="form-group">
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.ProjectProgress, 1) 1</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.ProjectProgress, 2) 2</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.ProjectProgress, 3) 3</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.ProjectProgress, 4) 4</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.ProjectProgress, 5) 5</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Project Documentation</h5>
                                        <div class="form-group">
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.DocumentationStatus, 1) 1</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.DocumentationStatus, 2) 2</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.DocumentationStatus, 3) 3</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.DocumentationStatus, 4) 4</label>
                                            </div>
                                            <div style="margin-left:10% " class="form-check form-check-inline">
                                                <label>@Html.RadioButtonFor(model => model.SearchModel.DocumentationStatus, 5) 5</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <h5>Comments about the progress</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Comments</label>
                                            <div class="form-group">
                                                <label class="bmd-label-floating"> </label>
                                                @Html.TextBoxFor(model => model.SearchModel.ProgressComments, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">SUBMIT</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
