@using IptProject.Models.adminpanel
@model courses

@{
    ViewBag.Title = "CourseAddOrEdit";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}

<h2>CourseAddOrEdit</h2>

<div class="form-body">
    @using (Html.BeginForm("AddCourse", "admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.HiddenFor(Model => Model);

        @*<div class="form-group">
                <input class="form-control" type="text" name="EmpID" hidden />

            </div>*@

        <div class="form-group">
            <label>Course name</label>
            <input class="form-control" type="text" name="CourseName" required />
            @*@Html.LabelFor(Model => Model.EmpName)
                @Html.EditorFor(Model => Model.EmpName)
                @Html.ValidationMessageFor(Model => Model.EmpName)*@
        </div>

        <div class="form-group">
            <label>Course Code</label>
            <input class="form-control" type="text" name="CourseCode" required />
            @*@Html.LabelFor(Model => Model.Email)
                @Html.EditorFor(Model => Model.Email)
                @Html.ValidationMessageFor(Model => Model.Email)*@
        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save" />
            <input type="reset" value="Reset" class="btn button" />
        </div>

        @*<div class="form-group">
                <input class="form-control" type="text" name="MobileNumber" placeholder="Employee Number" />
                <input type="submit" value="Submit" class="btn button" />
                <input type="reset" value="Reset" class="btn button" />
            </div>*@

    }
</div>