@model List<IptProject.Models.Cafeteria.FoodOrder>
@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Orders</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>
                                    Order Id
                                </th>
                                <th>
                                    Order Date
                                </th>
                                <th>
                                    Order Time
                                </th>
                                <th>
                                    Payment
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.OrderID
                                            </td>
                                            <td>
                                                @item.Datestr
                                            </td>
                                            <td>
                                                @item.Timestr
                                            </td>
                                            <td>
                                                @item.PaymentMethod
                                            </td>
                                            <td>
                                                @item.Amount
                                            </td>
                                            <td class="row">
                                                <a class="btn btn-primary" onclick='ViewDetails("@item.OrderID")' style="color:white">View Details</a>
                                                <a class="btn btn-primary" onclick='EditStatus("@item.OrderID")' style="color:white"> Edit Status</a>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>

    </div>

</div>



<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv2">


            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>

    </div>

</div>




@section scripts{
    <script>
        var ViewDetails = function (OrderId) {
            var url = "/CafeteriaStaff/ViewDetails?OrderId=" + OrderId;
            $("#myModalBodyDiv").load(url, function () {
                $("#myModal").modal("show");
            });
        }
         var EditStatus = function (OrderId) {
             debugger;
            var url = "/CafeteriaStaff/EditOrderStatus?OrderId=" + OrderId;
             $("#myModalBodyDiv").load(url, function () {
                 $("#myModal").modal("show");
             });
        }
    </script>
}




